*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: right;
    width: 100vw;
    height: 100vh;
}

body.correct {
    background-color: green;
}

body.incorrect {
    background-color: red;
}

.image {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
    height: 150px;
    width: 200px;
}

.content-container {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    width: 500px;
    max-width: 80%;
    height: 500px;
    max-height: 80%;

}

.options {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 7px;
    margin: 10px 10px;
}

.btn {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    padding: 5px 10px;
}

.btn:hover {
    color: greenyellow;
}

.btn-correct {
    color: green;
}

.btn-incorrect {
    color: red;
}

.start-btn, .next-btn {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 20px;
}

.remote {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}